<ion-header>
  <ion-toolbar>
    <ion-title>All Notices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card >
    <ion-card-header>
      <ion-item color="secondary">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-card-title color="light">New Year</ion-card-title>
    </ion-item>
      
    </ion-card-header>
    <ion-item>

      <ion-label>Date: 18 Jan 21</ion-label>
      <ion-button fill="outline" color="secondary">View</ion-button>
      <ion-button fill="outline" color="danger">Remove</ion-button>
    </ion-item>
  
    <ion-card-content>
      Party in society ground at 9 P.M.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-card-title>Parking Fee</ion-card-title>
    </ion-item>
      
    </ion-card-header>
    <ion-item>

      <ion-label>Date: 17 Jan 21</ion-label>
      <ion-button fill="outline" color="secondary">View</ion-button>
      <ion-button fill="outline" color="danger">Remove</ion-button>
    </ion-item>
  
    <ion-card-content>
      Increase in Parking Fee by Rs.100 per vehicle.
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
