<ion-header>
  <ion-toolbar>
    <ion-title>NOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list>
    <ion-item>
      <ion-label>Society</ion-label>
      <ion-select placeholder="Select One" okText="Confirm" cancelText="Cancel" [(ngModel)]="societyID" (ngModelChange)="getAllComplaints(societyID)" required>
       <ion-select-option value="{{society.id}}" *ngFor="let society of societyNames">{{society.name}}</ion-select-option>
       <!-- <ion-select-option value="wanak">asdsa</ion-select-option> -->
    </ion-select>
    </ion-item>

  </ion-list>
    <ion-card color="primary" > 
   
    <ion-card-header>
      <ion-card-title class="ion-text-center">NOC</ion-card-title>
  
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      
    <ion-list>
      
          <ion-card *ngFor="let noc of allNOC">
            <ion-item>
            <ion-label>User</ion-label>
            <ion-label slot="end">Wing-Flat</ion-label>
          </ion-item>
          <ion-item>
          <ion-label>{{noc.uname}}</ion-label>
            <ion-label slot="end">{{noc.wing}}-{{noc.flat}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="dark">NOC Type</ion-label>
            <ion-label slot="end">{{noc.noc_type}}</ion-label>
          </ion-item>
          <ion-item-sliding>
          <ion-item color="dark">
            <ion-label>Issue</ion-label>
            <!-- <ion-label >{{noc.issue}}</ion-label> -->
          </ion-item>
          
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="resolveNOC(noc)"><ion-icon name="checkmark"></ion-icon></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
