<ion-header [translucent]="true">
  <ion-navbar>
    <ion-grid>
      <ion-row>
          <ion-buttons start><ion-button  [routerLink]="['/tabs/home-discussion']">
            <ion-icon name="arrow-back-outline"></ion-icon> 
          </ion-button> </ion-buttons>
          <ion-title>
            Chat
          </ion-title>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <!-- <ion-text color="medium" text-center>
      <p>You joined the chat as {{ currentUser }}</p>
    </ion-text> -->
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
        <span class="user_name">{{ message.from }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">
        <span class="user_name">{{ message.from }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
