<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <h1>Society maintenance system</h1>
  </ion-slide>
  <ion-slide>
    <p>Use this page to download you pending bills</p>
    <img src="assets/bill_instructions.PNG" alt="Some instructions of bills tab" >
  </ion-slide>
  <ion-slide>
    <p>How to file a complaint!</p>
    <img src="assets/complaint_instructions.PNG" alt="Some instructions of complaints tab" >
  </ion-slide>
  <ion-slide>
    <p>Instruction page 3</p>
    <ion-button expand="block" (click)="navigate()">Start</ion-button>
  </ion-slide>
</ion-slides>

