<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/icon/favicon.png" alt="Application icon" style="border-radius: 5%;margin-top: 20%;">
    <h1>Society maintenance system</h1>
  </ion-slide>
  <ion-slide>
    <p>Use this page to download you pending bills</p>
    <img src="assets/bill_instructions.PNG" alt="Some instructions of bills tab" >
  </ion-slide>
  <ion-slide>
    <p>How to file a complaint!</p>
    <img src="assets/complaint_instructions.PNG" alt="Some instructions of complaints tab" >
  </ion-slide>
  <ion-slide>
    <p>How to view and download notices</p>
    <img src="assets/notice_instructions.PNG" alt="Some instructions of complaints tab" >
    <ion-button expand="block" style="margin-bottom: 20%;" (click)="navigate()">Start</ion-button>
  </ion-slide>
</ion-slides>

