<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="typeUser && !typeUser2" tab="admin-tab1">
      <ion-icon name="business-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="typeUser && !typeUser2" tab="admin-tab2">
      <ion-icon name="alert-circle-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="typeUser && !typeUser2" tab="admin-tab4">
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="typeUser && !typeUser2" tab="admin-tab3">
      <ion-icon name="create-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && !typeUser2" tab="tab1">
      <ion-icon name="receipt-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="!typeUser && !typeUser2" tab="tab2">
      <ion-icon name="alert-circle-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="!typeUser && !typeUser2" tab="tab3">
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && !typeUser2" tab="tab-visitor">
      <ion-icon name="man-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && !typeUser2" tab="all-notices">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && typeUser2" tab="society-admin-tab1">
      <ion-icon name="man-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && typeUser2" tab="society-admin-tab2">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="!typeUser && typeUser2" tab="admin-notices">
      <ion-icon name="documents-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
