<ion-header>
  <ion-toolbar>
    <ion-title>NOTICES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-progress-bar [value]="uploadProgress" color="success"></ion-progress-bar>
  <ion-card color="secondary">
    <ion-card-header> 
      <ion-card-title>New Notice</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select placeholder="Select One" okText="Confirm" cancelText="Cancel" [(ngModel)]="notice.type"
        required>
        <ion-select-option value="warning">Important</ion-select-option>
        <ion-select-option value="wine">Party</ion-select-option>
        <ion-select-option value="alert-circle-outline">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" [(ngModel)]="notice.title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" [(ngModel)]="notice.desc" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-input type="date" [(ngModel)]="notice.date" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label  position="stacked" >Upload File</ion-label>
      <ion-input type="file" [(ngModel)]="f" (change)="changeListener($event)" required></ion-input>
    </ion-item>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="secondary" (click)="file_Notice(notice)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
