<ion-header>
  <ion-toolbar>
    <ion-title>VISITOR REQUESTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getVisitors($event)"></ion-refresher>
  <ion-card *ngFor="let v of visitors">
    <ion-grid>
      <ion-row>
          <ion-item>
            <!-- <ion-img [src]="{{v.d_url | async}}"></ion-img> -->
            <img [src]="v.d_url | async" />
          </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Name</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{v.name}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Phone</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{v.phone}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Reason</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>{{v.reason}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Date</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>{{v.date}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Time</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>{{v.time}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="v.status == 'accept'; else elseBlock">
          <ion-row  >
            <ion-col>
              <ion-item color="secondary">
                <ion-label>Decision</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item color="secondary">
                <ion-label>{{v.status}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <ng-template #elseBlock>
          <ion-row  >
            <ion-col>
              <ion-item color="danger">
                <ion-label>Decision</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item color="danger">
                <ion-label>{{v.status}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-template>
    </ion-grid>
    
  </ion-card>
</ion-content>
